.login-container {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;

  background: #f9f9f9;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 4px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #aaa;
      border-radius: 4px;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background: #007acc;
    color: white;
    border: none;
    border-radius: 4px;

    &:hover {
      background: #005fa3;
    }
  }
}
